In [60]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [61]:
df = pd.read_csv('datasets/perceptron_dataset.csv')
df.head()

,Weekday,Mood,Weather,Workload Description,Client Demo,Goes to Office
0,Wednesday,Moody,Sunny,5 hrs job but can be done in focused 2 hours,No,Yes
1,Thursday,Sulky,Rainy,Trouble load,Yes,Yes
2,Monday,Moody,Sunny,5 hrs job but can be done in focused 2 hours,Yes,Yes
3,Friday,Moody,Windy,Trouble load,No,No
4,Thursday,Moody,Sunny,1 hour job but will take 7 hours,No,Yes

### One-Hot Encoding - Converting text to numerical data.

In [62]:
df['Client Demo'] = df['Client Demo'].map({'Yes': 1, 'No': 0})
df['Goes to Office'] = df['Goes to Office'].map({'Yes': 1, 'No': 0})  # This is your target column

def encode_workload(text):
    if "5 hrs job but can be done in focused 2 hours" in text:
        return 1  # Low workload
    elif "Trouble load" in text:
        return 2  # Medium workload
    elif "1 hour job but will take 7 hours" in text:
        return 3  # High workload

df['Workload'] = df['Workload Description'].apply(encode_workload)

df = pd.get_dummies(df, columns=['Weekday', 'Mood', 'Weather'], drop_first=True)

df = df.drop(columns=['Workload Description'])

df.head()

,Client Demo,Goes to Office,Workload,Weekday_Monday,Weekday_Thursday,Weekday_Tuesday,Weekday_Wednesday,Mood_Moody,Mood_Sulky,Weather_Sunny,Weather_Windy
0,0,1,1,False,False,False,True,True,False,True,False
1,1,1,2,False,True,False,False,False,True,False,False
2,1,1,1,True,False,False,False,True,False,True,False
3,0,0,2,False,False,False,False,True,False,False,True
4,0,1,3,False,True,False,False,True,False,True,False